@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@500&display=swap&family=Andika+New+Basic&display=swap&family=Source+Sans+Pro:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800;900&display=swap");

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.login-modal {
  top: 20%;
  font-family: "Andika New Basic", sans-serif;
}

.signup-modal {
  top: 6%;
  font-family: "Andika New Basic", sans-serif;
}

.login-title {
  font-family: "Zilla Slab", serif;
}

.login-height {
  margin-top: 5%;
}

.login-bottom {
  margin-top: 5em;
}

.logn-signup-buttons {
  background-color: #f77c06;
}

.top-navbar {
  background-color: #4A81FF;
  height: 55px;
  justify-content: space-around;
  align-items: center;
  border: none;
}

.logo {
  color: white;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
}

.nav-button {
  border: none;
  outline: none;
}

.login-modal {
  position: absolute;
  top: 20%;
}

.signup-modal {
  position: absolute;
  top: 10%;
}

input:focus {
  outline: none;
}

.searchbar {
  outline: none;
  border: none;
}

.btn:focus,
.btn:active {
  border: none;
  outline: none;
}

input {
  border: lightblue 1px solid;
}

.filter-btn {
  padding: 26px;
  background-color: transparent;
  border: none;
  word-wrap: break-word;
  background-color: transparent;
  border-bottom: lightgrey 2px solid;
  transition: background-color 0.3s;
  width: 160px;
}

.filter-btn:focus,
.filter-btn:active {
  outline: none;
  border: none;
}

@keyframes lift {
  to {
    margin-top: -8px;
  }
}

.filter-btn:hover {
  animation-name: lift;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  border-bottom: #a6a8ac 3px solid;
  background-color: #eef0f2;
}

label {
  display: block;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5em;
  grid-auto-rows: minmax(350px, auto);
  margin-bottom: 5%;
}

.card-spinner {
  font-size: 10px;
}

.card-spinner:hover {
  font-size: 10px;
}

.overflow-dots {
  text-overflow: "ellipsis";
  overflow: "hidden";
  white-space: "nowrap";
}

.search-bar {
  height: 70px;
  border-bottom: 2px solid lightgrey;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #7AE582;
}

.category-title {
  margin-left: 10%;
  width: 80%;
  font-size: 38px;
  font-weight: bold;
  display: flex;
}

.item-title {
  width: 80%;
  font-size: 35px;
  font-weight: 600;
  display: flex;
  margin-top: 5%;
}

.item-text {
  margin-top: 50px
}

@keyframes cardlift {
  to {
    margin-top: -30px;
  }
}

@keyframes reverse-cardlift {
  from {
    margin-top: -30px;
  }
  to {
    margin-top: 0px;
  }
}

.item-card {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  transition-duration: 0.5s;
  cursor: pointer;
  width: 100%;
}


.item-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

@media (max-width: 1300px) {
  .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 1090px) {
  .filter-btn:nth-child(5) {
    display: none;
  }
  .category-input {
    margin-right: 2px;
  }
}

@media (max-width: 1020px) {
  .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .item-info {
    margin-left: 15%;
  }
  .item-title {
    margin-left: 20%;
  }
}

@media (max-width: 800px) {
  .filter-btn {
    display: none;
  }
  .filter-row {
    padding-bottom: 150px;
  }
  .category-title {
    justify-content: center;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 150px;
  }
}

@media (max-width: 640px) {
  .card-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 499px) {
  .top-navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
  }
  .tanta-logo {
    display: none;
  }
  .search-bar {
    border: none;
    margin-right: 5%;
  }
  .searchbar-label {
    display: block;
  }
  .item {
    margin-top: 23%;
  }
}
