@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@500&display=swap&family=Andika+New+Basic&display=swap&family=Source+Sans+Pro:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800;900&display=swap");

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.login-modal {
  top: 20%;
  font-family: "Andika New Basic", sans-serif;
}

.signup-modal {
  top: 6%;
  font-family: "Andika New Basic", sans-serif;
}

.login-title {
  font-family: "Zilla Slab", serif;
}

.login-height {
  margin-top: 5%;
}

.login-bottom {
  margin-top: 5em;
}

.search-button {
  width: 200px;
}

.logn-signup-buttons {
  background-color: #f77c06;
}

.top-navbar {
  background-color: #5BA9E6;
  height: 55px;
  justify-content: space-around;
  align-items: center;
  border: none;
}

.logo {
  color: white;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
}

.nav-button {
  border: none;
  outline: none;
}

.login-modal {
  position: absolute;
  top: 20%;
}

.signup-modal {
  position: absolute;
  top: 10%;
}

input:focus {
  outline: none;
}

.searchbar {
  outline: none;
  border: none;
}

.btn:focus, .btn:active {
  border: none;
  outline: none;
}

input {
  border: lightblue 1px solid;
}

.filter-btn {
  padding: 26px;
  background-color: transparent;
  border: none;
  word-wrap: break-word;
  background-color: transparent;
  border-bottom: lightgrey 1px solid;
  transition: background-color 0.3s;
  width: 160px;
}

.filter-btn:focus, .filter-btn:active {
  outline: none;
  border: none;
  border-bottom: #a6a8ac 1px solid;
}

@keyframes lift {
  to {
    margin-top: -8px;
  }
}

.filter-btn:hover {
  animation-name: lift;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  border-bottom: #a6a8ac 1px solid;
  background-color: #EEF0F2;
}

label {
  display: block;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  grid-auto-rows: minmax(350px, auto);
}

.overflow-dots {
  text-overflow:"ellipsis";
  overflow:"hidden";
  white-space:"nowrap";
}

.category-input {
  margin-right: 1em;
}

.search-bar {
  margin-top: 2%;
  height:"70px";
  border-bottom:"2px solid lightgrey";
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1300px) {
  .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 1090px) {
  .filter-btn:nth-child(5) {
    display: none;
  }
  .category-input {
    margin-right: 4em;
  }
}

@media (max-width: 1020px) {
  .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 640px) {
  .card-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 770px) {
  .filter-btn {
    display: none;
  }
}

@media (max-width: 550px) {
  .top-navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
  }
  .tanta-logo {
    display: none;
  }
  .search-bar {
    border: none;
    margin-top: 10%;
    margin-right: 5%;
  }
  .searchbar-label {
    display: block;
  }
}

