.my-items-container {
    display: flex;
    flex-direction: column;
}

.items-filter {
    margin: 15px;
    width: 100%;
    display: flex;
    justify-content: center
}

.my-items-container h3 {
    text-align: center;
}
