@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@500&display=swap&family=Andika+New+Basic&display=swap&family=Source+Sans+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800;900&display=swap');

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.login-modal {
  top: 20%;
  font-family: 'Andika New Basic', sans-serif;
}

.signup-modal {
  top: 6%;
  font-family: 'Andika New Basic', sans-serif;
}

.login-title {
  font-family: 'Zilla Slab', serif;
}

.login-height {
  margin-top: 5%;
}

.login-bottom {
  margin-top: 5em;
}

.search-button {
  width: 200px;
}

.logn-signup-buttons {
  background-color: #F77C06;
}

.top-navbar {
  background-color: #FFD266;
  height: 55px;
  align-items: center;
  border: none;
}

.logo {
  color: white;
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
}

.nav-button {
  border: none;
  outline: none;
}

.login-modal {
  position: absolute;
  top: 20%;
}

.signup-modal {
  position: absolute;
  top: 10%;
}

input:focus {
  outline: none;
}

.searchbar {
  outline: none;
  border: none;
}

.btn:focus, .btn:active, button, button:focus, button:active {
  border: none;
  outline: none;
}

input {
  border: lightblue 1px solid;
}
@keyframes lift {
  to {
    margin-top: -8px;
  }
}

.filter-btn {
  padding: 30px;
  background-color: transparent;
  border: none;
  word-wrap: break-word;
  background-color: transparent;
  border-bottom: lightgrey 1px solid;
  transition: border-bottom 0.5s, background-color 0.5s;
  width: 120px;
}

.filter-btn:hover {
  background-color: #F0BE6D;
  border-bottom: #A6A8AC 2px solid;
  animation-name: lift;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

label {
  display: block;
}

.item-card {
  margin:"0 10px 10px 10px";
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (max-width: 1300px) {
  .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 1020px) {
  .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 640px) {
  .card-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}

